.root {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-background-color: #f5f5f5;
}

.button {
    -fx-background-color: #18a438ff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5 15 5 15;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #18a438ff;
}

.list-view {
    -fx-background-color: white;
    -fx-border-color: #ccc;
}

.text-area {
    -fx-background-color: white;
    -fx-border-color: #ccc;
}
