.root {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-background-color: #f5f5f5;
}

.button {
    -fx-background-color: #18a438ff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5 15 5 15;
    -fx-background-radius: 5;
}
.monthLabel {
    -fx-alignment: center;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5 15 5 15;
    -fx-background-radius: 5;
    -fx-background-color: #18a438ff;
    -fx-pref-height: 60px; 
}
.header {
    -fx-background-color: #335836;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10;
}

.days {
    -fx-alignment: center;

}
.bottomSection {
    -fx-background-color: #609f66;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10;
}
